<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>React Isomorphic Boilerplate</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bundle.f62a3780.css" rel="stylesheet"></head>
    <body>
        <div id="root"><%- root %></div>

        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
    <script type="text/javascript" src="/manifest.785820f8.js"></script><script type="text/javascript" src="/vendor.d52b6772.js"></script><script type="text/javascript" src="/bundle.7fefb65c.js"></script></body>
</html>
